
.display-personal-info{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #858484;
    padding: 15px;
}

.display-personal-info * {
    font-size: 25px;
}

.name{
    font-size: 50px;
    font-weight: bold;
}

.title{
    font-size: 40px;
}

.item-container{
    display: flex;
    align-items: center;
    gap: 20px;
}