
.educational-info{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #858484;
    padding: 15px;
}

.educational-info * {
    padding: 5px;
    font-size: 15px;
}

.educational-info > .buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;

}

.educational-info button{
    flex: 1;
}